[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-yay"]
	path = plugins/dotbot-yay
	url = https://github.com/oxson/dotbot-yay
[submodule "dotbot-asdf"]
	path = plugins/dotbot-asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
[submodule "dots/fonts/SFMono-Nerd-Font-Ligaturized"]
	path = dots/fonts/SFMono-Nerd-Font-Ligaturized
	url = https://github.com/shaunsingh/SFMono-Nerd-Font-Ligaturized
	ignore = untracked
[submodule "dotbot-flatpak"]
	path = plugins/dotbot-flatpak
	url = https://github.com/DrDynamic/dotbot-flatpak.git
