window#overview .overview {
  @include floating-widget;
  @include spacing;

  .workspace {
    &.active > widget {
      border-color: $border-color;
    }

    > widget {
      @include widget;
      border-radius: if($radius ==0, 0, $radius + $padding);

      &:hover {
        background-color: $surface-container-high;
      }

      &:drop(active) {
        border-color: $surface-container-high;
      }
    }
  }

  .client {
    @include button;
    border-radius: $radius;

    &.hidden {
      @include hidden;
      transition: 0;
    }
  }
}
