@use "color";
@use "layout";

@mixin divider($location, $width: 3px, $gap: layout.$gap) {
  @if $location == "top" {
    border-top: $width solid #{color.$background-highlight};
    padding-top: #{$gap}px;
    margin-top: #{$gap}px;
  } @else if $location == "bottom" {
    border-bottom: $width solid #{color.$background-highlight};
    padding-bottom: #{$gap * 2.5}px;
    margin-bottom: #{$gap}px;
  } @else if $location == "left" {
    border-left: $width solid #{color.$background-highlight};
    padding-left: #{$gap}px;
    margin-left: #{$gap}px;
  } @else if $location == "right" {
    border-right: $width solid #{color.$background-highlight};
    padding-right: #{$gap}px;
    margin-right: #{$gap}px;
  }
}
