@use "color";
@use "layout";
@use "font";

@mixin widget($surface: false) {
  font-family: font.$mono-family;
  font-size: #{font.$mono-size}px;
  font-weight: 500;
  color: color.$text;
  border-radius: #{layout.$radius}px;
  padding: #{layout.$padding}px;

  @if $surface == false {
    background: #{color.$background-muted};
    margin: #{layout.$gap}px;
  } @else {
    background: #{color.$background-surface};
  }
}
