@use "mixins";
@use "color";
@use "layout";
@use "font";

window.pulse .pulse {
  @include mixins.widget;

  > icon {
    @include mixins.widget($surface: true);
    margin-right: #{layout.$padding}px;
    padding: #{layout.$padding}px #{layout.$padding * 1.5}px;
    font-size: #{font.$mono-size * 1.5}px;
  }

  .entry-wrapper {
    @include mixins.widget($surface: true);
    font-family: font.$mono-family;
    font-size: #{font.$mono-size * 1.35}px;
    font-weight: 600;

    entry {
      all: unset;
      color: color.$text;
    }

    button {
      all: unset;
    }
  }
}
