@use "mixins";
@use "color";
@use "layout";
@use "font";

window.pulse .pulse {
  @include mixins.widget;

  > box {
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid transparent;
    &.inactive {
      border-color: color.$background-surface;
    }
  }

  .start-icon {
    margin-right: #{layout.$padding}px;
    padding: #{layout.$padding}px #{layout.$padding}px;
    font-size: #{font.$mono-size * 1.5}px;
  }

  .entry-wrapper {
    font-size: #{font.$mono-size * 1.35}px;
    font-weight: 600;

    .placeholder {
      color: color.$text-muted;
    }

    entry {
      all: unset;
      color: color.$text;
      caret-color: color.$text-highlight;
    }

    button {
      all: unset;
      padding: #{layout.$padding}px #{layout.$padding * 1.5}px;
      transition: color 0.2s ease;
      &:hover,
      &:focus {
        color: color.$text-highlight;
      }
    }
  }

  .end-adornment {
    padding-right: #{layout.$padding}px;
  }
}
