$bar-spacing: $spacing / 2;
$button-radius: $radii;

@mixin panel-button($flat: $bar-flat-buttons, $reactive: true) {
  @include unset;
  @include floating-widget;

  transition: $transition;
  border-radius: $radii;

  & > * {
    padding: $padding;
  }

  &:hover {
    @if $reactive {
      color: $hover-accent;

      @if $drop-shadow {
        box-shadow: 0 0 min(6px, $spacing/2) 0 $shadow, inset 0 0 0 99px $hover;
      } @else {
        box-shadow: inset 0 0 0 99px $hover;
      }
    }
  }

  @if $reactive {
    &:active > *,
    &.active > * {
      label,
      image {
        color: $hover-accent;
      }
      background-image: $active-gradient;
      background-color: $accent;
    }

    label,
    image {
      font-weight: bold;
    }
  }
}

.panel {
  @include unset($recursive: true);

  font-size: $font-size;
  margin: $wm-gaps 0;

  .panel-button {
    @include panel-button($flat: $bar-flat-buttons, $reactive: false);
  }

  // Start Widgets

  .dashboard-button {
    label {
      transition: $transition;
      color: transparentize($accent, $amount: 0.2);
    }

    &:hover label {
      color: $accent;
    }
  }

  .workspaces {
    // Eventbox doesn't work with some styles so we need to unset them
    // and apply them to the children instead
    all: unset;
    > * {
      @include floating-widget;
      border-radius: $radii;
    }

    button {
      font-family: "Font Awesome 6 Free Solid";
      padding: $padding * 0.65 0;

      // Default Indicator (Empty Workspace)
      .indicator {
        box-shadow: inset 0 0 0 $border-width $border-color;
        transition: $transition;
        color: transparentize($opaque-border-color, 0.5);
      }

      $empty-accent-transparency: 0.6;

      // Hovering Empty Workspace
      &.empty:hover .indicator {
        color: rgba($accent, $empty-accent-transparency);
      }

      // Occupied Workspace
      &.occupied {
        &:hover .indicator {
          color: $accent;
        }

        .indicator {
          color: $foreground;
        }
      }

      // Active Workspace
      &.active {
        &:hover .indicator {
          color: $accent;
        }

        .indicator {
          color: $accent;
        }

        &.empty .indicator {
          color: rgba($accent, $empty-accent-transparency);
        }
      }
    }
  }

  // End Widgets

  .weather {
    & .temperature {
      font-family: $mono-font;
      font-weight: bold;
    }
  }

  .clock {
    font-family: $mono-font;
    font-weight: bold;
  }

  .powermenu {
    &-button .font-icon {
      font-family: "feather";
      font-size: $font-size * 1.25;
      font-weight: bold;
    }

    &-revealer {
      & > box > :last-child {
        color: $red;
      }

      & revealer .panel-button {
        &:nth-child(1) {
          color: $magenta;
        }
        &:nth-child(2) {
          color: $blue;
        }
        &:nth-child(3) {
          color: $green;
        }
        &:nth-child(4) {
          color: $yellow;
        }
      }
    }
  }
}
