@mixin floating-widget {
  @if $drop-shadow {
    box-shadow: 0 0 5px 0 $shadow;
  }

  border: $border-width solid $popover-border-color;
  background-color: $widget-background;
  color: $foreground;
  border-radius: $popover-radius;
  padding: $popover-padding / 2 0;
  margin: $bar-spacing $wm-gaps;
}
