[Desktop Entry]
Name=GDLauncher
Exec=/usr/bin/gdlauncher --dummy-flag --enable-features=UseOzonePlatform --ozone-platform=wayland %U
Terminal=false
Type=Application
Icon=gdlauncher
StartupWMClass=GDLauncher
Comment=GDLauncher Carbon.
MimeType=x-scheme-handler/gdlauncher;
Categories=Utility;
