[Desktop Entry]
Type=Application
Name=lf
Comment=Launches the lf file manager
Icon=htop
Exec=footclient --title "footclient-lf" -e lf %u
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
