.bar {
  background-color: $colorBackground;
  color: $colorForeground;
  font-family: $fontTitle, sans-serif;
  font-size: 1.15rem;
  border: 2px solid $colorBorder;
  border-radius: 8px;
  padding: 15px 0 10px 0;
}
