// Workspaces

.workspaces-widget .workspace-entry {
  &.empty {
    color: $colorBorder;
  }

  &.current,
  &.occupied {
    color: $colorForeground;
  }
}

// Clock

.clock-widget {
  .button {
    background-color: $colorBackground;
    font-weight: bold;
    font-size: large;
    font-family: $fontMono;
  }
}

// Calendar

.calendar-widget {
  border: 2px solid $colorBorder;
  background-color: $colorBackground;

  font-size: 1em;
  font-weight: bold;
  font-family: $fontTitle;

  &-inner-box {
    padding: 0.25rem 1rem 0rem;

    .calendar {
      background-color: $colorBackground;
      color: $colorForeground;
      padding: 0.8rem 0rem 0rem;
      border: 0;

      &.highlight {
        padding: 10rem;
      }

      &:selected {
        color: $colorAccent2;
      }

      &.header {
        color: $colorAccent2;
        font-weight: bold;
      }

      &.button {
        color: $colorForeground;
        font-weight: bold;
      }

      &.highlight {
        color: $colorAccent1;
        font-weight: bold;
      }

      &:indeterminate {
        color: $colorBackground;
      }
    }
  }
}

// Powermenu

.powermenu {
  font-family: feather;
  font-size: 1.4em;
  font-weight: bold;

  .button-lock,
  .button-reboot,
  .button-quit,
  .button-shutdown {
    padding: 0.5rem 0.2rem 0.3rem 0.2rem;
  }

  .button-shutdown {
    margin-bottom: 0.5rem;
    color: $colorAccent1;
  }

  .button-reboot {
    margin-top: 0.5rem;
    color: $colorAccent3;
  }

  .button-quit {
    color: $colorAccent4;
  }

  .button-lock {
    color: $colorAccent5;
  }
}
