$colorBackground: #1f1f28;
$colorForeground: #dcd7ba;

$colorBackgroundDark: #16161d;
$colorForegroundDark: #54546d;
$colorBorder: #53524d; // Fuji Gray dimmed 12%
$colorAccent: #7fb4ca;
$colorAccent2: #957fb8;

$fontTitle: SF Pro Display;
$fontNumber: Comic Mono;
$fontMono: SF Mono;
