$colorBackground: #1f1f28;
$colorForeground: #dcd7ba;

$colorBackgroundDark: #16161d;
$colorForegroundDark: #54546d;
$colorBorder: #53524d; // Fuji Gray dimmed 12%

$colorAccent1: #ff5d62;
$colorAccent2: #7e9cd8;
$colorAccent3: #957fb8;
$colorAccent4: #dca561;
$colorAccent5: #98bb6c;

$fontTitle: SF Pro Display;
$fontNumber: Comic Mono;
$fontMono: SF Mono;
