@mixin bar-module-icon {
  padding: 0;
  font-family: $font-mono-name;
  font-weight: bold;
  border: none;

  .content-container {
    border: $border;
    border-top: none;
    border-radius: 0 0 $radius $radius;

    &.three-columns {
      font-size: calc($font-ui-size * 0.88);
      padding-bottom: calc($padding * 1.12);
      padding-top: calc($padding * 1.125);
    }
  }

  .icon-container {
    border: $border;
    border-radius: $radius $radius 0 0;
    border-bottom: $border;
    color: $on-primary-fixed;
    padding: calc($padding * 1.25) 0;

    &.bg-primary {
      background-color: $primary-fixed;
    }

    &.bg-red {
      background-color: $red;
    }

    &.bg-magenta {
      background-color: $magenta;
    }

    &.bg-blue {
      background-color: $blue;
    }

    &.bg-green {
      background-color: $green;
    }

    &.bg-yellow {
      background-color: $yellow;
    }
  }
}

@mixin bar-module() {
  @include unset;
  @include floating-widget;

  &.bar-module-icon {
    @include bar-module-icon;
  }

  color: $on-surface;
  transition: $transition;
  border-radius: $radius;

  & > * {
    padding: $padding $padding * 1.5;
  }

  @if $bar-position == "left" {
    margin: $bar-spacing 0 $bar-spacing $spacing;
  } @else {
    margin: $bar-spacing $spacing $bar-spacing 0;
  }
}
