$bar-spacing: calc($spacing / 2);

.bar {
  @include unset($rec: true);
  font-size: $font-ui-size;
  font-family: $font-ui-name;

  .bar-start {
    margin-top: max($bar-spacing, 0px);
  }

  .bar-end {
    margin-bottom: max($bar-spacing, 0px);
  }

  .bar-module {
    margin: $bar-spacing 0;
    @include floating-widget;
    @include bar-module;
  }

  .window-button {
    color: $primary;
  }

  .workspaces {
    button {
      padding: calc($padding * 0.5) 0;

      .indicator {
        transition: $transition;
        color: transparentize($outline, 0.5);
        border: transparent;
      }

      &.empty:hover .indicator {
        color: $primary;
      }

      &.occupied {
        .indicator {
          color: $on-surface;
        }

        &:hover .indicator {
          color: $primary;
        }
      }

      &.active {
        & .indicator,
        &.empty .indicator {
          color: $primary;
        }

        &:hover .indicator {
          color: lighten($primary, 8%);
        }
      }
    }
  }

  .media {
    image {
      margin: calc($spacing * 0.25) 0;
    }

    button {
      &:disabled {
        color: $outline;
      }
    }

    .controls {
      button {
        padding: $padding * 0.4 0;

        &:hover {
          color: lighten($on-surface, 10%);
        }
      }
    }
  }

  .powermenu {
    &-button {
      padding: $padding;
    }

    @mixin powermenu-color($color) {
      &.icon-bg-primary {
        color: $primary;
        &:hover {
          color: lighten($primary, 10%);
        }
      }

      color: $color;
      &:hover {
        color: lighten($color, 10%);
      }
    }

    &-revealer {
      & > box > :last-child {
        @include powermenu-color($red);
      }

      & revealer button {
        &:nth-child(1) {
          @include powermenu-color($magenta);
        }

        &:nth-child(2) {
          @include powermenu-color($blue);
        }

        &:nth-child(3) {
          @include powermenu-color($green);
        }

        &:nth-child(4) {
          @include powermenu-color($yellow);
        }
      }
    }
  }
}
