window.floating-dock switch {
  @include switch;
  margin-top: $padding * 1.5;
  margin-bottom: $padding * 1.5;
}

window.floating-dock .system-dock,
window.floating-dock .tool-container > box {
  .dock-module {
    @include spacing;
  }

  .dock-button {
    padding: calc($padding / 2);
  }
}

window.floating-dock .system-dock {
  @include dock;
  @include floating-widget;
  margin-bottom: 0px;
  border-radius: if($radius == 0, 0, $radius + $spacing / 2);
  padding: calc($padding / 2);

  .updates,
  .nudge > label {
    margin-right: $padding;
  }

  .updates label {
    font-family: $font-mono-name;
    padding-right: calc($padding / 2);
  }
}

window.floating-dock .tool-container > box {
  @include dock;
  @include floating-widget;
  margin-top: calc($padding - $spacing - $border-width);
  border-top: $border;

  .screenshot-dock {
    padding-right: calc($padding / 2);

    switch {
      margin-right: $padding;
    }
  }
}
