window.indicator {
  .progress {
    @include floating-widget;
    padding: $padding * 0.5;
    border-radius: if($radius >0, calc($radius + $padding * 0.5), 0);

    .fill {
      border-radius: $radius;
      background-color: $primary-fixed;
      color: $on-primary-fixed;

      image {
        -gtk-icon-transform: scale(0.7);
      }
    }
  }

  .microphone {
    @include floating-widget;
    margin: $spacing * 2;
    padding: $padding * 2;
    font-size: 58px;
    color: transparentize($primary, 0.1);
  }
}
