@use "color";
@use "font";
@use "layout";
@use "animation";
@use "bar";
@use "mixins";
@use "misc";

window.Bar .option-button {
  @include mixins.widget;
  margin: #{layout.$gap / 2}px 0;
  border-radius: #{layout.$radius / 2}px;
  border: 1.5px solid transparent;

  &:hover {
    border-color: color.$accent4;
  }

  &.active {
    background-color: color.$accent4-muted;
    color: color.$background-muted;
    font-weight: bold;
  }

  & label {
  }
}
