#dashboard .window-content {
  @include unset($rec: true);
  @include floating-widget;
  padding: $popover-padding;

  .header {
    margin-bottom: 50px;

    .user-info {
      @include widget;
      font-weight: bold;
      padding: $spacing;
      margin-right: $spacing;

      .separator {
        color: $primary-fg;
        padding: 2px;
      }
    }

    .text-entry {
      @include widget;

      stack {
        padding: $spacing;
      }

      separator {
        border: $border;
      }

      entry {
        padding: $spacing;
        background-color: transparent;
      }
    }
  }
}
