#dashboard .window-content {
  @include unset($rec: true);
  @include floating-widget;
  padding: 0;

  .header {
    margin-bottom: 50px;
    background: $wallpaper center center no-repeat;
    background-size: cover;

    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    padding: $spacing * 2 $spacing * 2 $spacing * 8 $spacing * 2;

    .user-info {
      @include widget;
      background-color: transparentize($surface-container-high, $widget-transparency);
      font-weight: bold;
      padding: $spacing;
      margin-right: $spacing;

      .separator {
        color: $primary;
        padding: 2px;
      }
    }

    .text-entry {
      @include widget;

      stack {
        padding: $spacing;
      }

      separator {
        border: $border;
      }

      entry {
        padding: $spacing;
        background-color: transparent;
      }
    }
  }

  .overlay {
    @include widget;

    .app-item {
      @include widget;
      border-radius: 0;

      &.active {
        border-radius: $radius;
        background-color: $primary-container;
        color: $on-primary-container;
      }

      & > box {
        margin: $spacing;

        .icon {
          padding-right: $spacing;
          -gtk-icon-transform: scale(1.5);
        }
      }
    }
  }
}
