@mixin _floating-widget {
  @if $shadows {
    box-shadow: 0 0 5px 0 $shadow-color;
  }

  margin: max($spacing, 0px);
  border: $border;
  background-color: transparentize($surface, $widget-transparency);
  color: $on-surface;
  border-radius: $radius;
  padding: calc($padding / 2);
}

@mixin floating-widget($children: false) {
  @if $children {
    @include unset;
    & > * {
      @include _floating-widget;
    }
  } @else {
    @include _floating-widget;
  }
}
