@import "./button";

@mixin switch {
  @include button($inactive: true);

  slider {
    @if ($scheme == "light") {
      background-color: $surface-container-low;
    } @else {
      background-color: $on-surface;
    }
    border-radius: $radius;
    min-width: 24px;
    min-height: 24px;
  }

  image {
    color: transparent;
  }
}
