@use "color";
@use "font";
@use "layout";
@use "animation";
@use "bar";
@use "mixins";

window.Bar {
  .bar-wrapper {
    @include mixins.widget;
    font-family: font.$mono-family;
    font-weight: bold;
    padding: 0;

    .bar-modules {
      padding: #{layout.$padding}px;
    }
  }

  .circle-progress {
    @include bar.list-padding;
  }

  .datetime {
    .time {
      padding: #{layout.$padding * 0.33}px 0;
      font-size: #{font.$mono-size * 1.75}px;
    }

    .date {
      font-size: #{font.$mono-size * 0.9}px;
    }
  }

  .updates {
    font-size: 15px;
  }
}

window.Bar .divider {
  border-bottom: 2px solid color.$background-highlight;
  margin-bottom: #{layout.$gap}px;
  margin-top: #{layout.$gap}px;
}
