@use "color";
@use "font";
@use "layout";
@use "animation";
@use "mixins";

window.Bar {
  > centerbox {
    @include mixins.widget;
    font-family: font.$mono-family;
    font-weight: bold;
  }

  .datetime {
    @include mixins.divider(top);

    .time {
      padding: #{layout.$padding * 0.33}px 0;
      font-size: #{font.$mono-size * 1.75}px;
    }

    .date {
      font-size: #{font.$mono-size * 0.9}px;
    }
  }

  .workspaces .indicator {
    min-height: 1px;
    padding: #{layout.$padding / 3}px #{layout.$padding * 0.8}px;
    margin: #{layout.$gap / 2}px 0px;
    border-radius: #{layout.$radius}px;
    transition: background-color 0.33s;

    &.occupied {
      background-color: color.$accent3;
    }
    &.empty {
      background-color: color.$background-highlight;
    }
    &.focused {
      background-color: color.$accent4;
    }
    &.urgent {
      @include animation.flash(color.$accent4, color.$accent3);
    }
  }

  .system-monitor {
    margin-top: #{layout.$gap}px;
    margin-bottom: #{layout.$gap}px;

    > box {
      margin-top: #{layout.$gap / 2}px;
      margin-bottom: #{layout.$gap / 2}px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .tray {
    margin-top: #{layout.$gap}px;
    margin-bottom: #{layout.$gap}px;
    background-color: color.$background-surface;
    border-radius: #{layout.$radius}px;

    > button {
      all: unset;
      padding: #{layout.$gap / 2}px #{layout.$gap}px;

      &:first-child {
        padding-top: #{layout.$gap}px;
      }

      &:last-child {
        padding-bottom: #{layout.$gap}px;
      }

      icon {
        font-size: 16px;
      }
    }
  }
}
